.venv
frontend/node_modules
.env
# static
.azure/
__pycache__/
.ipynb_checkpoints/
static/.DS_Store
frontend/src/pages/.DS_Store
frontend/src/components/.DS_Store
frontend/src/.DS_Store
frontend/.DS_Store
backend/.DS_Store
.github/.DS_Store
infra/.DS_Store
frontend/src/pages/.DS_Store
frontend/src/.DS_Store
frontend/.DS_Store
.github/.DS_Store
.DS_Store
